.App {
  text-align: center;
}

.App-logo {
  margin: 150px 0;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .layout {
  height: 100vh;
} */

.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-icon {
  border-radius: 50%;
}

.profile__picture {
  width: 250px;
  height: 250px;
}

.profile__title {
  font-size: 30px;
  margin: 30px 0;
}
