.App {
  /* text-align: center; */
}

.App-logo {
  max-width: 300px;
  pointer-events: none;
  display: flex;
  margin: 200px auto;
  margin-top: 25%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-bold {
  font-weight: bold;
}

.layout {
  min-height: 100vh;
}

.layout__footer {
  padding: 12px 2vw !important;
  background-color: #f1f1f1 !important;
  text-align: center;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-icon {
  border-radius: 50%;
}

.logo-icon {
  width: 50px;
}

.main {
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
}

.profile__picture {
  width: 250px;
  height: 250px;
}

.profile__title {
  font-size: 30px;
  margin: 30px 0;
}

/* Contacts */
.btn-reload {
  margin-right: 8px;
}

.box {
  padding: 10px 10px;
  background-color: #fafafa;
  margin: 0 0 15px 0;
}

.box__content {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.contacts-filters__item {
  width: 100%;
  padding: 6px;
}

.col-padding {
  padding: 15px 30px 15px 0;
}

.statistic-nat__wrap {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}
.statistic-nat__item {
  width: 195px;
  padding: 6px 0;
}

.contacts-card {
  height: 100%;
}
.contacts-card__img {
  height: 260px;
  object-fit: cover;
}

/* 404 */
.error {
  flex: auto;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.error__code {
  margin: 0 0 30px;
  color: #db402c;
  font-size: 80px;
  font-weight: 900;
  line-height: 1;
}

.error__message {
  font-size: 26px;
}

.error__back-button {
  margin: 30px 0 0;
}
